:root{
    --main-color: #757575;
    --secondary-color: #212121;
    --tertiary-color: #2196F3;
    --fourth-color: #FFFFFF;
    --fifth-color:  #000000;
    --sixth-color: #2F303A;
    --seventh-color: #F5F4FA;
    --eighth-color: rgba(255, 255, 255, 0.6);
    --ninth-color: #AFB1B8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color:var(--fourth-color);
    color:var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.list {
    list-style: none;
}
  
.link {
    color: var(--main-color);
    text-decoration: none;
    text-transform: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.header-container {
    display:flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

 /* logo */

.logo {
  width: 145px;
  margin-right: 93px;
  color:var(--fifth-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web-logo {
    
    color: var(--tertiary-color);
}

.header-nav {
}

/* site-nav */
.site-nav {
    display:flex;
    gap: 50px;
}

.nav-current {
    width: 45px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-current:hover,
.nav-current:focus{
    color: var(--tertiary-color);
}

.nav-portfolio {
    width: 72px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio:hover,
.nav-portfolio:focus{
    color:var(--tertiary-color)
}

.nav-contacts {
    width: 64px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts:hover,
.nav-contacts:focus{
    color:var(--tertiary-color)
}

.nav{
    position: relative;
    padding-bottom: 33px;
}

.current::after{
    position: absolute;
    content: '';
    left:0;
    bottom:0;
    width: 100%;
    height: 4px;
    background-color: var(--tertiary-color);
    border-radius: 2px;
}

.current{
    color: var(--tertiary-color);
}
/* contacts */

.header-contact {
    display: flex;
    gap:50px;
    margin-left:auto;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail{
    display: flex;
    padding: 32px 0;
    flex-direction: row-reverse;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon{
    margin-right: 10px;
    fill: currentColor;
}

.mail:hover,
.mail:focus{
    color:var(--tertiary-color);
} 

.tel{
    display: flex;
    padding: 32px 0;
    flex-direction: row-reverse;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon{
    margin-right: 10px;
    fill:currentColor;
}

.tel:hover,
.tel:focus{
    color:var(--tertiary-color);
}


/* hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color:var(--sixth-color);
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/hero.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-title {
    width: 696px;
    margin:0 auto;
    color:var(--fourth-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    display:inline-block;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 4px;
    color:var(--fourth-color);
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    border:none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
background-color: #188CE8;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section */

.main-features {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.features-section {
    padding-bottom: 0;
}

.features-list {
    display:flex;
    gap:30px;
}

.features-item {
    width:calc((100% - 90px) / 4);
}

.features-top {
    width: 270px;
    height: 120px;
    background-color: var(--seventh-color);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    border-radius: 4px;
}

.features-title {
    width:270px;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    width:270px;
    color:var(--main-color);
    font-size: 14px;
}

/* activity-section */

.activity-title {
    margin-bottom: 50px;
    text-align: center;
    color:var(--secondary-color);
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
}

.activity-list {
    display:flex;
    gap: 30px;
}

.activity-item {
    width:calc((100% - 60px) / 3);
}

.activity-thumb{
    position: relative;
}

.activity-block{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.activity-text{
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--fourth-color);
}

/* team-section */

.team-section {
    background-color: var(--seventh-color);
}

.team-title {
    color:var(--secondary-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-list {
    display: flex;
    gap:30px;
    margin-top: 50px;
}

.team-item {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item {
    padding-bottom: 30px;
    background-color: var(--fourth-color);
}

.team-img{
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 10px;
    color:var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-text {
    color:var(--main-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link{
    width: 100%;
    height: 100%;
    color:var(--ninth-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
    fill:currentColor;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--tertiary-color);
    color: var(--fourth-color);
}

/* clients */

.clients-title {
    color:var(--secondary-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-item{
    width: 170px;
    height: 92px;
}

.clients-link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--ninth-color);
    color: var(--ninth-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon{
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus{
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}


/* footer */
.footer {
    background-color: var(--sixth-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-logo {
    color: var(--fourth-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.address-list{
    margin-top: 20px;
}

.address {
    margin-bottom: 9px;
    color: var(--fourth-color);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-mail {
    color: var(--eighth-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus{
    color:var(--tertiary-color);
}

.footer-tel {
    color: var(--eighth-color);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus{
    color:var(--tertiary-color);
}

.title-socials {
    color: var(--fourth-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: 700;
}

.socials-footer{
    margin-left: 93px;
}

.footer-list-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    align-items: baseline;
}

.footer-item-socials {
    width: 44px;
    height: 44px;
}

.footer-socials-link{
    width: 100%;
    height: 100%;
    background-color: var(--fourth-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus{
    background-color: var(--tertiary-color);
}

.footer-icon{
    fill:var(--fourth-color)
}

.send-container{
    margin-left: 93px;
    position: relative;
}

.footer-form{
    display: flex;
    margin-top: 20px;
}

.footer-label {
    margin-right: 12px;
  }

.footer-form-text{
    color: var(--fourth-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-input{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-input:focus {
    border-color: var(--tertiary-color);
    outline: var(--tertiary-color);
  }

.footer-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    color:var(--fourth-color);
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    border:none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus{
    background-color: #188CE8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-input::placeholder, .footer-input {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.send-icon{
    fill:var(--fourth-color);
    margin-left: 10px;
    position: relative;
}





/* ПОРТФОЛІО */

.portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.portfolio-btn {
    padding: 6px 22px;
    border-radius: 4px;
    color:var(--secondary-color);
    background-color: var(--seventh-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border:none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   margin-bottom: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color:var(--tertiary-color);
    color:var(--fourth-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples */

.example-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}

.example-item{
    flex-basis: calc((100% - (2 * 30px)) / 3);
}
.example-item .link{
    display: block;
}

.example-links{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-item .link:hover,
.example-item .link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}

.example-title {
    margin-bottom: 4px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.example-text {
    color: var(--main-color);
    line-height: 1.88;
    font-size: 16px;
}

.example-border {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.example-thumb {
    position: relative;
    overflow: hidden;
}

.example-links:hover .overlay{
    transform: translateY(0);
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* text */
    color: var(--fourth-color);
    font-size: 18px;
    line-height: 1.55;
}
/* backdrop and modal */

.backdrop{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    width: 528px;
    min-height: 581px;
    background-color: var(--fourth-color);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleX(1.9);
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover{
    fill:var(--tertiary-color);
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal-block{
    padding: 40px;
}

.modal-title{
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.modal-label {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-input{
    padding: 12px;
    padding-left: 42px;
    padding-right: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {  
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--secondary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--tertiary-color);
    outline:var(--tertiary-color);
}

.modal-label:focus-within>.modal-icon {
    fill:var(--tertiary-color);
}

.modal-textarea {
    resize: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 120px;
}

.modal-textarea::placeholder{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
    border-color: var(--tertiary-color);
    outline: var(--tertiary-color);
}

.checkbox-label {
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
    cursor: pointer;
    fill: var(--fourth-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

  .checkbox-input:checked+.checkbox-icon {
    background-color: var(--tertiary-color);
    border-color: transparent;
}

  .checkbox-text {
    margin-right: 8px;
    margin-left: 8px;
}

.checkbox-link{
    color:var(--tertiary-color);
}

.modal-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    color:var(--fourth-color);
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    border:none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #188CE8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}